{% load static %}
<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href= "{% static "forms.css" %}"/>
    </head>    

<body>
    <h1>Register as Employer</h1>
    <!--Display errors while registering eg unmatching passwords-->
     {% if employerform.errors %}
        <div style="color: red">
            {% for field, errors in employerform.errors.items %}
                {% for error in errors %}
                    <p>{{ field|title }}: {{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ employerform.username.label_tag }}
        {{ employerform.username }}
        {{ employerform.email.label_tag }}
        {{ employerform.email }}
        {{ employerform.password1.label_tag }}
        {{ employerform.password1 }}
        {{ employerform.password2.label_tag }}
        {{ employerform.password2 }}
        <input type="submit" value="Register"/>
    </form>
</body>
</html>